USE [master]
GO
/****** Object:  Database [PaygateSetupToolDB]    Script Date: 06/26/19 10:24:55 AM ******/
CREATE DATABASE [PaygateSetupToolDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PaygateSetupToolDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PaygateSetupToolDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PaygateSetupToolDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PaygateSetupToolDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PaygateSetupToolDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PaygateSetupToolDB]
GO
USE [PaygateSetupToolDB]
GO
/****** Object:  Table [dbo].[Info]    Script Date: 06/26/19 10:24:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Info](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Info] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Info] ON 

INSERT [dbo].[Info] ([ID], [Name], [Surname], [Status]) VALUES (1, N'Enes', N'Öztaş', 2)
INSERT [dbo].[Info] ([ID], [Name], [Surname], [Status]) VALUES (2, N'Hüseyin', N'Akkaya', 2)
INSERT [dbo].[Info] ([ID], [Name], [Surname], [Status]) VALUES (3, N'Özgün', N'Kars', 2)
SET IDENTITY_INSERT [dbo].[Info] OFF
/****** Object:  StoredProcedure [dbo].[GetTestDataName]    Script Date: 06/26/19 10:24:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[GetTestDataName] 
AS

select * from [dbo].[Info] where Status=2
GO
USE [master]
GO
